.submit-button{
    background-color: #69B578; /* Green background */
    padding: 8px 30px; /* Original padding */
    border-radius: 50px; /* Makes it pill-shaped */
    text-decoration: none; /* Removes underline */
    max-width: 150px; /* Set the desired width */
    text-align: center; /* Center the text */
    border: none;
}