.judul{
    font-size: 62px;
    font-weight: 400;
    padding-top: 15%;
}

.background{
    /* background-color: #254D32; */
}

.bawah-judul{
    width: 25%;
    margin-top: 5%;
}

.text-bawah-judul{
    color: #254D32;
    font-weight: bold;
}

.tombol-carousel {
    border: 2px solid rgb(0, 0, 0); /* White outline with some transparency */
    border-radius: 50%; /* Makes the outline circular */
    padding: 10px; /* Adjust padding for spacing */
    height: 50px;
    width: 50px;
}

/* public/css/style-dampak.css:(29-38) */
.carousel-control-prev, .carousel-control-next {
    top: 115%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 20%;
}

.carousel-control-next {
    right: 20%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%) brightness(100%);
}

.carousel-bawah{
    margin-top: 10%;
}

.bawah-container{
    margin-top: 15%;
}

.submit-button{
    background-color: #69B578; /* Green background */
    padding: 8px 30px; /* Original padding */
    border-radius: 50px; /* Makes it pill-shaped */
    text-decoration: none; /* Removes underline */
    max-width: 150px; /* Set the desired width */
    text-align: center; /* Center the text */
    border: none;
}