section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Hero */
.hero-box .box p {
    width: 500px;
}

.hero-box .box img {
    width: 400px;
}

.hero-box .box:nth-child(1) {
    --animate-delay: 0.5s;
}

@media (max-width: 992px) {
    .hero-box .box p {
        font-size: 14px;
        width: 300px;
    }

    .hero-box .box img {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 50px;
    }

    .hero-box {
        text-align: center;
    }

    .hero-box .box p {
        width: 100%;
    }
}

/* Add this to your style-sustainable.css */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero .text-box {
    animation: slideInLeft 1s ease-out forwards;
}

.hero .image-box {
    animation: slideInRight 1s ease-out forwards;
}


/* Hero */

/* About */
.about-box img {
    width: 400px;
}

@media (max-width: 475px) {
    .about-box img {
        width: 300px;
    }
}

.carousel-inner {
    height: 500px;
}

.carousel-item img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

/* About */

/* Services */
.services-box .service i {
    font-size: 30px;
}

/* Services */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


[data-aos="fade-up"] {
    animation: fadeIn 1s ease-in-out;
}

.blockquote-footer {
    font-size: 0.875rem;
    color: #6c757d;
}

html {
    scroll-behavior: smooth;
}